Importing data and required packages

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN

Reading CSV

In [21]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [22]:
df=df.drop('Unnamed: 0',axis=1)

In [23]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [24]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

Train Test Split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.shape , x_test.shape

((5625, 50), (1407, 50))

Create an Evaluate Function to give all metrics after model Training

In [26]:
def evaluate_model(y_test, y_pred):
 y_pred_binary = np.round(y_pred).astype(int)
    
 precision = precision_score(y_test, y_pred_binary)
 recall = recall_score(y_test, y_pred_binary)
 f1 = f1_score(y_test, y_pred_binary)
 return precision , recall , f1

In [27]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Classifier": KNeighborsClassifier(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest Classifier": RandomForestClassifier(),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
f1_list =[]

In [28]:
def models_assemble(x_train , x_test, y_train, y_test):
 for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train) 

    y_pred = model.predict(x_test)
    
    precision, recall, f1 = evaluate_model(y_test, y_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Precision : {:.4f}".format(precision))
    print("- Recall : {:.4f}".format(recall))
    print("- F1 : {:.4f}".format(f1))
    f1_list.append(f1)
 
    print('='*35)
    print('\n')

In [29]:
models_assemble(x_train, x_test,y_train, y_test )

Linear Regression
Model performance for Training set
- Precision : 0.7008
- Recall : 0.4442
- F1 : 0.5437
===================================


Lasso
Model performance for Training set
- Precision : 0.7174
- Recall : 0.2571
- F1 : 0.3786
===================================


Ridge
Model performance for Training set
- Precision : 0.7008
- Recall : 0.4442
- F1 : 0.5437
===================================

K-Neighbors Classifier
Model performance for Training set
- Precision : 0.6132
- Recall : 0.4571
- F1 : 0.5238
===================================


Decision Tree
Model performance for Training set
- Precision : 0.5014
- Recall : 0.4545
- F1 : 0.4768
===================================


Random Forest Classifier
Model performance for Training set
- Precision : 0.6332
- Recall : 0.4260
- F1 : 0.5093
===================================


AdaBoost Regressor
Model performance for Training set
- Precision : 0.7135
- Recall : 0.3558
- F1 : 0.4749
===================================

###### As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.

###### Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

###### Hence, moving ahead to call SMOTEENN (UpSampling + ENN)

In [30]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [31]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [32]:
models_assemble(xr_train,xr_test,yr_train,yr_test)

Linear Regression
Model performance for Training set
- Precision : 0.9408
- Recall : 0.9393
- F1 : 0.9400
===================================


Lasso
Model performance for Training set
- Precision : 0.8860
- Recall : 0.8690
- F1 : 0.8774
===================================


Ridge
Model performance for Training set
- Precision : 0.9409
- Recall : 0.9409
- F1 : 0.9409
===================================


K-Neighbors Classifier
Model performance for Training set
- Precision : 0.9455
- Recall : 0.9696
- F1 : 0.9574
===================================


Decision Tree
Model performance for Training set
- Precision : 0.9191
- Recall : 0.9617
- F1 : 0.9399
===================================


Random Forest Classifier
Model performance for Training set
- Precision : 0.9518
- Recall : 0.9776
- F1 : 0.9645
===================================


AdaBoost Regressor
Model performance for Training set
- Precision : 0.9088
- Recall : 0.9712
- F1 : 0.9390
===================================

In [33]:
pd.DataFrame(list(zip(model_list, f1_list)), columns=['Model Name', 'F1_Score']).sort_values(by=["F1_Score"], ascending=True)

                  Model Name  F1_Score
1                      Lasso  0.378585
6         AdaBoost Regressor  0.474870
4              Decision Tree  0.476839
5   Random Forest Classifier  0.509317
3     K-Neighbors Classifier  0.523810
0          Linear Regression  0.543720
2                      Ridge  0.543720
8                      Lasso  0.877419
13        AdaBoost Regressor  0.938996
11             Decision Tree  0.939891
7          Linear Regression  0.940048
9                      Ridge  0.940895
10    K-Neighbors Classifier  0.957413
12  Random Forest Classifier  0.964539

From the above ingishts we can see tha the random forest classifier has highest f1 score , so we will go forward with it and pefor some hyper parameter tuning on it.

In [34]:
from sklearn.model_selection import GridSearchCV
rf_classifier = RandomForestClassifier()
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# grid search object
grid_search = GridSearchCV(estimator=rf_classifier,param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1)

grid_search.fit(xr_train, yr_train)

best_params = grid_search.best_params_
print("Best Parameters:", best_params)

best_rf_model = grid_search.best_estimator_
yrf_pred = best_rf_model.predict(xr_test)

# print("Classification Report for the Best Model:")
# print(classification_report(y_test, y_pred))
precision, recall , f1 = evaluate_model(yr_test, yrf_pred)
print("Precision:", precision)
print("Recall:", recall)
print("F1-Score:", f1)

Best Parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 50}
Precision: 0.9529042386185244
Recall: 0.9696485623003195
F1-Score: 0.9612034837688045

Saving the model dumping it in a pickle file

In [35]:
import pickle 

fileame = 'final_model'

pickle.dump(best_rf_model, open(fileame, 'wb'))

In [36]:
load_model = pickle.load(open(fileame, 'rb'))

In [37]:
model_score = load_model.score(xr_test, yr_test)
model_score

0.9584393553859203